//------------------------------------------------------------------------------
// AdobeArabic
//------------------------------------------------------------------------------

@font-face {
    font-family: 'AdobeArabic';
    font-weight: 300;
    src: url('/medical_lab_website/static/src/font/AdobeArabic-Regular.otf') format('truetype');
}
@font-face {
    font-family: 'AdobeArabic';
    font-weight: 400;
    src: url('/medical_lab_website/static/src/font/OPTIMA.TTF') format('truetype');
}
@font-face {
    font-family: 'AdobeArabic';
    font-weight: 700;
    src: url('/medical_lab_website/static/src/font/OPTIMA_B.TTF') format('truetype');
}
