/*Patient*/

.v-required{
    background: #ddbfbf;
    padding-top: 5px;
    border: 1px solid gray;
    margin-top: 10px;
}

/* Invoice Screen */
table.v-package-history {
    font-size: 15px;
    text-align: left;
}

.v-btn-categories .js_select_categ {
    background-color: #2c646d;
}
.v-btn-categories .js_select_categ:hover, .v-btn-categories .js_select_categ .active {
    background-color: #55c2d4;
}

.row-striped:nth-of-type(odd){
  background-color: #fec135;
}

.row-striped:nth-of-type(even){
  background-color: #33a2b8;
}


/* Client Screen */
.clientlist-screen-content {
    border: 2px dotted #c5b7b7;
}
.clientlist-screen-content .top-content {
    border-bottom: 2px dotted #c5b7b7;
}
.clientlist-screen-content .full-content {
    /*position: absolute;
    right: 0%;
    top: 65px;
    bottom: 0px;
    left: 0%;*/
    font-size: 15px;
}

.clientlist-screen-content .client-name {
    font-size: 32px;
    line-height: 64px;
    margin-top: 10px;
    width: 70%;
    min-width: 300px;
}
.clientlist-screen-content .client-picture {
    height: 64px;
    width: 64px;
    border-radius: 32px;
    overflow: hidden;
    text-align: center;
    float: left;
    margin-right: 16px;
    background: white;
    position: relative;
}

.clientlist-screen-content .client-view .client-detail {
    line-height: 24px;
    width: 100%;
    font-size: 15px;
}

.clientlist-screen-content .client-view .client-detail > .label {
    font-weight: bold;
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 8px;
}
.capitalize {
    text-transform: capitalize !important;
}

/*  */
.partner-appointment-popup .dt-buttons {
    /*font-size: 12px;*/
}

/* Appointment Popoups */
.v-tip-partner-details table.v-tip-table .fa {
    width: 15px !important;
    background-size: cover;
    text-align: center;
}
.popup-max-width {
    width: 75% !important;
    min-width: 550px;
    height: 480px;
}
.ins-check-body {
    font-size: 14px;
    height: calc(100% - 100px);
}
.table-ins-check thead th {
    color: brown;
     /*border: 1px solid black; */
    background: white;
}
.ins-ref-text {
    min-height: auto !important;
    width: 100% !important;
}

.v-normal-input input, .v-normal-input .popup-input {
    min-height: 0px !important;
    width: 100% !important;
    font-size: 15px !important;
}
.table-ins-check td, .table-ins-check th {
    padding: 0.5rem !important;
    vertical-align: middle !important;
}

.popup-normal-text {
    font-size: 15px;
}
.popup-normal-text input, .popup-normal-text select, .popup-normal-text label {
    font-size: 15px;
    min-height: 0px;
}
/* Appointment Popoups End */

.v-orderline-container {
    padding: 0px;
    /*height: 220px;*/
    overflow-y: auto;
}

.orderlines {
    list-style: none;
    font-size: 17px;
    padding: 0px;
    margin: 0px;
}
.orderlines ul {
    font-size: 13px;
    padding-left: 20px;
    list-style: none;
}

.orderlines ul .btn {
    font-size: 10px;
}

li.orderline {
    padding: 7px;
    cursor: pointer;
}

li.orderline .price{
    float: right;
}
li.orderline.selected, li.orderline.read-selected {
    background: rgba(140,143,183,0.2);
    -webkit-transition: background 250ms ease-in-out;
    -moz-transition: background 250ms ease-in-out;
    transition: background 250ms ease-in-out;
    cursor: default;
}
li.orderline .btn {
    display: none;
}
li.orderline.selected .btn {
    cursor: pointer;
    display: inline;
}
li .v-other-content {
    font-size: 18px;
}

li .v-other-content .badge {
    vertical-align: middle;
    font-size: 12px;
}

li .v-line-analytic-tags {
    vertical-align: middle;
    /*font-size: 12px;*/
}

/* Theme */

.brand-link .brand-image {
    margin-top: 0px;
    /*max-height: unset;*/
}
.brand-text {
    white-space: normal;
}
.sidebar-collapse .brand-text {
    white-space: unset !important;
}

/* Product List */

.product-list-container {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
}

.v-product {
    position: relative;
    vertical-align: top;
    display: inline-block;
    line-height: 110px;
    /*font-size: 11px;*/
    /*width: 90%;*/
    /*height: 125px;*/
    background: #fff;
    margin: 6px !important;
    /*border: 1px solid #e2e2e2;*/
    /*border-radius: 3px;*/
    /*border-bottom-width: 3px;*/
    overflow: hidden;
    cursor: pointer;
}
.v-product .product-img {
    text-align: center;
    margin-top: 10px;
}
.v-product .product-img img {
    width: 90%;
}

.v-product .price-tag, .v-product .duration-tag {
    position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
}
.v-product .v-info-tag {
    right: unset !important;
    left: 0px !important;
    top: 1px !important;
}

.v-product .duration-tag {
    top: 18px;
    right: 2px;
    color: black;
    background: #ffc107;
    /*vertical-align: top;
    line-height: 13px;
    padding: 2px 5px;
    border-radius: 2px;*/
}

.v-product .product-name{
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 0;
    top: auto;
    line-height: 14px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    background: -moz-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    background: -ms-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    padding: 3px;
    padding-top: 15px;
}

.size-18 {
    height: 18px;
    line-height: 18px;
    width: 18px;
}