
/*.fc-timeline-event {
    height: 95%
}
*/

/*.bg-fc-slats-hover{
    background: #ff2c95;
}

.fc-time-grid .fc-slats td {
    height: 2.5em !important;
}


.v-resource .v-resource-title {
    font-size: 15px;
}

.fc-bgevent {
    cursor: not-allowed;
    pointer-events: none;
}
*/

.fc .fc-timegrid-axis-cushion, .fc .fc-timegrid-slot-label-cushion {
    font-weight: bold;
    font-size: 13px;
}

.fc .fc-col-header-cell-cushion {
    display: block !important;
}

.fc-timegrid .table-bordered th, .fc-timegrid .table-bordered td {
    border-right: 1px solid #948181;
}

.fc-v-event .fc-event-title-container {
    overflow: hidden !important;
}