.o_chatter {
    text-align: left;
    padding: 0 10px 10px 10px;
    font-size: 13px;

    .o_chatter_topbar {
        display: none;
    }

    .o_mail_thread {
        .o_thread_date_separator {
            margin-top: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid #ced4da;
            text-align: center;
            font-size: 15px;
            background-color: white;
        }

        .o_thread_message {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            /*padding: 4px 16px;*/
            /*margin-bottom: 0px;*/

            .o_mail_not_discussion {
                background-color: rgba(222, 226, 230, 0.5);
                border-bottom: 1px solid #ced4da;
            }

            .o_thread_message_sidebar {
                flex: 0 0 36px;
                margin-right: 10px;
                margin-top: 2px;
                text-align: center;
                font-size: smaller;

                .o_updatable_im_status {
                    display: none;
                }

                .o_thread_message_sidebar_image {
                    position: relative;
                    height: 36px;

                    .o_thread_message_avatar {
                        width: 36px;
                        height: 36px;
                        object-fit: cover;
                    }
                }
            }

            .o_thread_message_core {
                -webkit-box-flex: 1;
                -webkit-flex: 1 1 auto;
                flex: 1 1 auto;
                min-width: 0;
                max-width: 100%;
                word-wrap: break-word;
                margin-bottom: 2px;

                ul {
                    padding-left: 15px;
                }

                .o_mail_info {
                    margin-bottom: 0px;
                }
            }
        }
    }
}
