<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <record id="dashboard_dept_action" model="ir.actions.act_window">
        <field name="name">Departments</field>
        <field name="res_model">dashboard.dashboard</field>
        <field name="view_mode">kanban</field>
        <field name="context">{'dashboard_visibility': 'lab_dept'}</field>
    </record>
    <menuitem id="dashboard_menu_dept" name="Departments" parent="medical_dashboard.dashboard_root" action="dashboard_dept_action" sequence="3"/>

    <record id="view_move_form" model="ir.ui.view">
        <field name="name">account.move</field>
        <field name="model">account.move</field>
        <field name="inherit_id" ref="account.view_move_form"/>
        <field name="arch" type="xml">
            <field name="amount_untaxed" position="before">
                <field name="amount_total_gross"/>
                <field name="total_discount"/>
            </field>
        </field>
    </record>

    <!-- Dynamic Resource -->

    <record id="medical_resource_dashboard" model="ir.actions.act_window">
        <field name="name">Resources</field>
        <field name="res_model">dashboard.dashboard</field>
        <field name="view_mode">kanban</field>
        <field name="context">{'dashboard_visibility': 'resource'}</field>
    </record>

    <menuitem name="Resources" sequence="20" id="menu_resource_dashboards" parent="medical_dashboard.dashboard_root" action="medical_resource_dashboard"/>

    <record id="medical_visit_opt_dashboard" model="ir.actions.act_window">
        <field name="name">Visit Option</field>
        <field name="res_model">dashboard.dashboard</field>
        <field name="view_mode">kanban</field>
        <field name="context">{'dashboard_visibility': 'visit_opt'}</field>
    </record>

    <menuitem name="Visit Option" sequence="30" id="menu_visit_opt_dashboards" parent="medical_dashboard.dashboard_root" action="medical_visit_opt_dashboard"/>

    <record id="dash_collection_center_pcr" model="ir.actions.act_window">
        <field name="name">PCR: Collection Center</field>
        <field name="res_model">dashboard.dashboard</field>
        <field name="view_mode">kanban</field>
        <field name="context">{'dashboard_visibility': 'pcr_swab'}</field>
    </record>

    <menuitem name="PCR: Collection Center" sequence="35" id="menu_pcr_swab_dashboards" parent="medical_dashboard.dashboard_root" action="dash_collection_center_pcr"/>

    <record id="dash_pcr_department_pcr" model="ir.actions.act_window">
        <field name="name">PCR: Department</field>
        <field name="res_model">dashboard.dashboard</field>
        <field name="view_mode">kanban</field>
        <field name="context">{'dashboard_visibility': 'pcr_dept'}</field>
    </record>

    <menuitem name="PCR: Department" sequence="40" id="menu_dash_pcr_department" parent="medical_dashboard.dashboard_root" action="dash_pcr_department_pcr"/>


    <record id="dashboard_derma_action" model="ir.actions.act_window">
        <field name="name">Derma</field>
        <field name="res_model">dashboard.dashboard</field>
        <field name="view_mode">kanban</field>
        <field name="context">{'dashboard_visibility': 'derma'}</field>
    </record>
    <menuitem id="dashboard_menu_dept" name="Derma" parent="medical_dashboard.dashboard_root" action="dashboard_derma_action" sequence="3"/>
</odoo>
