<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <record model="ir.ui.menu" id="account.menu_finance_receivables">
          <field name="groups_id" eval="[(6,0,[ref('menu_access_right.make_customer_menu_show_or')])]"/>
    </record>
    <record model="ir.ui.menu" id="account.menu_finance_payables">
          <field name="groups_id" eval="[(6,0,[ref('menu_access_right.make_vendor_menu_show_or')])]"/>
    </record>
    <record model="ir.ui.menu" id="account.menu_finance_entries">
          <field name="groups_id" eval="[(6,0,[ref('menu_access_right.make_accounting_menu_show_or')])]"/>
    </record>
    <record model="ir.ui.menu" id="account.menu_finance_reports">
          <field name="groups_id" eval="[(6,0,[ref('menu_access_right.make_reporting_menu_show_or')])]"/>
    </record>

    <record model="ir.ui.menu" id="account.menu_action_account_payments_receivable">
          <field name="groups_id" eval="[(6,0,[ref('menu_access_right.menu_view_payments')])]"/>
    </record>
</odoo>